@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --login-bg: #0a0a0a;
  --login-card: #262626;
  --login-input-bg: rgba(64, 64, 64, 0.8);
  --login-border: #525252;
  --login-accent: #eab308;
  --login-accent-hover: #ca8a04;
  --login-accent-light: #facc15;
  --login-icon-muted: #9ca3af;
  --login-placeholder: #6b7280;
  --login-text: #ffffff;
  --login-text-muted: #6b7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #e5e5e5;
  }
}

body {
  background-color: var(--login-bg);
}
p,h1{
  color: var(--login-text);
}
